body{
	font-family: Arial;
}

.titulo{
	margin-right: auto;
	margin-left: 10%;
}

#sobre{
	 
	 text-align: justify;
     text-justify:1,5% inter-word;
}
h6{
	padding: 13px;
}


.btn{

bottom: 31px; right: 87px;

}